@import "../../styles.scss";
.contact-wrapper{
    height:100vh;
    width:100vw;
    background-color:#D87C94;
    display:grid;
    align-items: center;
    justify-items: center;
    svg{
        margin:25px 0;
        cursor:pointer;
    }
    #home{
        position:fixed;
        bottom:20px;
        left:50%;
        transform:translateX(-50%);
        cursor:pointer;
        color:white;
        z-index:10;
    }
    #projects{
        position:fixed;
        bottom:20px;
        right:20px;
        cursor:pointer;
        color:white;
        z-index:10;
    }
    @include responsive-when(pc){
        grid-template-columns: 50% 50%;
        h1{
            font-size:5rem;
            color:white;
        }
        h4{
            font-size:2rem;
            color:lightgrey;
        }
    }
    @include responsive-when(tablet){
        grid-template-columns: 40% 60%;
        .contact-prompt{
            width:calc(100% - 40px);
            padding:20px 0;
        }
        h1{
            font-size:3.5rem;
            color:white;
        }
        h4{
            font-size:1.5rem;
            color:lightgrey;
        }
    }
    @include responsive-when(mobile){
        display:flex;
        flex-direction:column;
        justify-content: center;
        .contact-prompt{
            width:calc(100% - 30px);
            padding:15px 0;
        }
        h1{
            width:100%;
            text-align:left;
            font-size:2.5rem;
            color:white;
        }
        h4{
            width:100%;
            text-align:left;
            font-size:1rem;
            color:lightgrey;
        }
    }
    .contact-form{
        width:90%;
        @include responsive-when(pc){
            label{
                font-size:1.5rem;
                margin:15px 0;
            }
            input{
                font-size:1.5rem;
                margin:15px 0;
            }
        }
        @include responsive-when(tablet){
        }
        label{
            color:white;
        }
        input{
            outline:none;
            background-color:rgba(0,0,0,0);
            border:none;
            border-bottom:2px solid white;
            transition:all 1s;
            color:white;
            width:90%;
            &:focus{
                background-color:rgba(255,255,255,0.1);
                border-bottom:5px solid white;
                width:100%;
            }
            &[type="submit"]{
                background-color:white;
                color:#D87C94;
                padding:10px 25px;
                cursor:pointer;
                &:hover{
                    transform:scale(1.2);
                }
            }
        }
        .contact-links{
            position:fixed;
            bottom:0;
            left:0;
            width:100vw;
            height:100px;
            display:flex;
            align-items: center;
            justify-content: flex-start;
            svg{
                transition:all 1s;
                cursor:pointer;
            }
            @include responsive-when(pc){
                justify-content: center;
                svg{
                    transform:scale(2);
                    margin:50px;
                    &:hover{
                        transform:scale(2.5);
                    }
                }
            }
            @include responsive-when(tablet){
                justify-content: center;
                svg{
                    transform:scale(1.5);
                    margin:30px;
                    &:hover{
                        transform:scale(2);
                    }
                }
            }
            @include responsive-when(mobile){
                justify-content: flex-start;
                padding:15px 0;
                svg{
                    margin:20px;
                    &:hover{
                        transform:scale(1.5);
                    }
                }
            }
        }
    }
}