<div class="project-container">
  <div class="project-background" id="background">
    <h1>My Projects</h1>
    <img src="/assets/react.svg" />
    <img src="/assets/vue.svg" />
    <img src="/assets/angular.svg" />
    <img src="/assets/javascript.svg" />
    <img src="/assets/aws.svg" />
    <img src="/assets/sass.svg" />
    <span id="dot1"></span>
    <span id="dot2"></span>
    <span id="dot3"></span>
    <span id="arrow"></span>
  </div>
  <div class="project-main" (scroll)="onWindowScroll($event)">
    <div id="window">
      <span id="contact" (click)="flipFace('1')">Contact</span>
      <span id="home" (click)="flipFace('0')">Home</span>
    </div>
    <div class="project-description">
      <h1>COVID-19 Tracking</h1>
      <p>A minimalistic, responsive corona virus tracking app built using <b>React</b> and <b>Material UI</b>, hosted on <b>Firebase</b>.
        <br /> Optimized async/await calls to an open API.
        <br /><a href="https://trackv1rus.web.app/">Website</a><a
          href="https://github.com/Xiao4Dan/COVID19-Tracking">Github</a>
      </p>
    </div>
    <div class="project-image" [ngStyle]="{ backgroundImage: 'url(/assets/covid_landing.png)' }"></div>
    <div class="project-description">
      <h1>Movie Recommender</h1>
      <p>A Valorant themed movie searching and recommending web app by calculating movie rating history between friends
        using <b>User Based CF</b>.
        <br />Designed and built to be a user friendly and well performed web app with <b>React and Chart</b>.
        <br /><a href="https://m0vrec.web.app/">Website</a><a
          href="https://github.com/Xiao4Dan/MovieRecommender">Github</a>
      </p>
    </div>
    <div class="project-image" [ngStyle]="{ backgroundImage: 'url(/assets/mvrec_landing.png)' }"></div>
    <div class="project-description">
      <h1>Shop With X</h1>
      <p>An E-commerce website to place and manage pre-order requests on limited desginer goods.
        <br />Built with <b>Vue</b> and <b>AWS Amplify</b>, using AWS Cognito for Authentication and selective content viewing.
        <br /><a href="#">View Prototype</a>
      </p>
    </div>
    <div class="project-image" [ngStyle]="{ backgroundImage: 'url(/assets/shopwithme_landing.png)' }"></div>
    <div class="project-description">
      <h1>JL Studio</h1>
      <p>A company website for a start-up digital marketing studio.
        <br />Built with <b>React</b> and <b>Firebase</b>, using AWS Cognito for Authentication and selective content viewing.
        <br /><a href="#">View Prototype</a>
      </p>
    </div>
    <div class="project-image" [ngStyle]="{ backgroundImage: 'url(/assets/hlxz_landing.png)' }"></div>
    <div id="window"></div>
    <div class="project-footer">
      <div id="project-footer">
        <h1>More Projects are Coming.<br />For More Details.</h1>
        <span>
          <a href="mailto:alexshi416@gmail.com">Hire Me</a>
          <a (click)="flipFace('1')">Leave Your Thoughts</a>
          <a href="https://drive.google.com/file/d/1-7JbTwXE4zuuz00KCnKR6bgFRn1ZSEV6/view?usp=sharing">Download Resume</a>
        </span>
      </div>
    </div>
  </div>
</div>