@import "../../styles.scss";
//Parallax mixin
//Reference: https://codepen.io/scottkellum/details/bHEcA
//
$parallax-perspective: 1 !default;
$parallax-element: "body" !default;
$parallax-ios: true !default;

@mixin parallax-init($perspective: $parallax-perspective, $element: $parallax-element, $parallax-ios: $parallax-ios) {
    @if $element == "body" {
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    }
    #{$element} {
        overflow: auto;
        perspective: $perspective * 1px;
        transform-style: preserve-3d;
        // Allows for smooth scrolling but disables parallax effects.
        @if $parallax-ios == false {
            -webkit-overflow-scrolling: touch;
        }
        // Preserve 3D
        &,
        * {
            transform-style: preserve-3d;
        }
    }
}

@mixin parallax($distance: 0, $perspective: $parallax-perspective) {
    transform: translateZ($distance * $perspective * 1px) scale(abs($distance - 1));
    z-index: $distance * 1000;
}

// End of magic parallax mixins

@include parallax-init;

.project-container{
    width:100vw;
    height:100vh;
    overflow-y:scroll;
    overflow-x:hidden;
    perspective:8px;
    perspective-origin: 50% 50%;
    background-color:#12232E;
    .project-main-background{
        display:block;
        position:relative;
        border:2px solid black;
        height:100vh;
        width:100vw;
        transform-origin: 0;
        transform: translateZ(0px);
        h1{
            position:absolute;
            left:50%;
            top:50%;
            transform:translate(-50%, -100%);
            font-size:5rem;
            color:white;
        }
        background-position:center;
        background-size:cover;
    }
    .project-main-icons{
        position:relative;
        height:100vh;
        width:100%;
        transform: translateX(0) translateY(-62.5%) translateZ(3px) scale(0.625);
        background: linear-gradient(to bottom, transparent 0%, #12232E 50%, #12232E 100%);
        display:flex;
        align-items: center;
        justify-content: flex-end;
        svg{
            height:64px;
            width:64px;
            transform:translateY(-128px);
            transition:0.5s ease-in-out;
            margin:10px;
            &:hover{
                transform:translateY(-140px);
            }
        }
    }
    .project-image{
        width:540px;
        height:360px;
        background-position:center;
        background-size:cover;
        box-shadow: 0 8px 16px 0 #203647;
        z-index:1;
    }
    .project-description{
        width:62%;
        height:50%;
        background-color:#007CC7;
        min-width:400px;
        min-height:400px;
        z-index:10;
        color:white;
        display:flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction:column;
        @include responsive-when(pc){
            h1{
                font-size:1rem;
                margin:1rem 0;
                width:75%;
            }
            p{
                width:75%;
                font-size:1.5rem;
                line-height: 2rem;
            }
        }
        a{
            display:inline-block;
            text-decoration: none;
            padding:15px 20px;
            margin:10px;
            color:#12232E;
            background-color:#4DA8DA;
            &:hover{
                background-color:lightblue;
            }
        }
        @include responsive-when(tablet){
            padding:15px;
            h1{
                width:80%;
                font-size:2rem;
            }
            p{
                width:80%;
                font-size:1rem;
            }
        }
        @include responsive-when(mobile){
            padding:10px;
            h1,p{
                width:80%;
                font-size:1rem;
            }
        }
    }
    div:nth-child(3){
        transform-origin: left top;
        transform: translate3d(0,-100vh,1px) scale(0.875);
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        h1{
            color:white;
        }
        p{
            color:white;
        }
        button{
            border:none;
            outline:none;
            background-color:#203647;
            color:#EEFBFB;
            padding:20px 15px;
            &:hover{
                background-color:#4DA8DA;
            }
        }
    }
    div:nth-child(4){
        transform-origin:center center;
        position:absolute;
        top:100vh;
        left:33vw;
        transform: translate3d(0, 50%, 3px) scale(0.625);
    }
    div:nth-child(5){
        transform-origin: 0;
        transform: translate3d(calc(100vw - 100%), -50vh, 1px) scale(0.875);
    }
    div:nth-child(6){
        transform-origin: center center;
        position:absolute;
        top:calc(100vh + 540px);
        right:30vw;
        transform: translate3d(0, 0, 3px) scale(0.625);
    }
    div:nth-child(7){
        border:1px solid pink;
        transform-origin: 0;
        transform: translate3d(0, -50vh, 1px) scale(0.875);
    }
    div:nth-child(8){
        transform-origin: 0;
        transform: translate3d(50vw, calc(-50vh - 50%), 1px) scale(0.875);
    }
    .project-footer{
        width:100vw;
        height:50vh;
        background-color:#12232E;
        #project-footer{
            width:540px;
            height:250px;
            background-color:#007CC7;
            transform:translate(calc(50vw - 50%), -50%);
            margin:0;padding:0;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h1{
                width:calc(100% - 30px);
                text-align:center;
                margin:15px;
                font-weight:bold;
                color:#12232E;
            }
            span{
                width:100%;
                display:block;
                text-align:center;
                a{
                    display:inline-block;
                    text-decoration: none;
                    padding:15px 20px;
                    margin:10px;
                    color:#12232E;
                    background-color:#4DA8DA;
                    &:hover{
                        background-color:lightblue;
                    }
                }
            }
        }
    }
}