<div class="landing-wrapper" (scroll)="onWindowScroll($event)">
  <span id="hire" (click)="flipFace('1')">Contact</span>
  <span id="discover" (click)="flipFace('2')">Projects</span>
  <img id="bmc" src="assets/BMC_logo.svg" (click)="bmc()" />
  <div class="landing-Scrollbar">
    <span id="card-Indicator"></span>
    <span id="skills-Indicator"></span>
    <span id="projects-Indicator"></span>
    <span id="contact-Indicator"></span>
  </div>
  <div class="landing-Card">
    <img src="assets/masked-bigheads.svg" (mouseover)="avatar($event,'over')" (mouseout)="avatar($event,'out')"
      (click)="avatar($event,'link')" />
    <h1>Hi, I am <b>Alex.</b><br />Nice to meet you.</h1>
    <h2>Software and Front-end Developer</h2>
  </div>
  <div class="landing-Skills">
    <h1>SKILLS</h1>
    <div id="square-container">
      <div id="square-wrapper">
        <div id="square">
          <img src="/assets/interface.svg" />
          <h2>Languages</h2>
          <p>
            React, Angular, Vue<br />
            JavaScript, TypeScript<br />
            HTML, CSS, SASS<br />
            Java, Python<br />
            Firebase, NodeJS, SQL, GraphQL<br />
          </p>
        </div>
        <div id="square">
          <img src="/assets/browser.svg" />
          <h2>Tools</h2>
          <p>
            Netbeans, VSCode, BlueJ<br />
            Postman, PuTTY<br />
            NPM, Git, Bash<br />
            Apache, Webpack<br />
          </p>
        </div>
        <div id="square">
          <img src="/assets/self-awareness.svg" />
          <h2>Personal</h2>
          <p>
            Innovative Problem Solving<br />
            Clear Communication<br />
            Team Work<br />
            Fast Adapting<br />
            Interest Oriented<br />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-Projects">
    <h1>Projects</h1>
    <div id="screenshot-container">
      <div class="screenshot" [ngStyle]="{ backgroundImage: 'url(/assets/covid_landing.png)' }" (click)="flipFace('2')">
      </div>
      <div class="screenshot" [ngStyle]="{ backgroundImage: 'url(/assets/hlxz_landing.png)' }" (click)="flipFace('2')">
      </div>
      <div class="screenshot" [ngStyle]="{ backgroundImage: 'url(/assets/mvrec_landing.png)' }" (click)="flipFace('2')">
      </div>
      <div class="screenshot" [ngStyle]="{ backgroundImage: 'url(/assets/mvrec_code.png)' }" (click)="flipFace('2')">
      </div>
    </div>
    <div id="p-container">
      <p>After 7 years of school life in Toronto, I am fanscinated by various of information technologies and graduate
        from <b>Ryerson University</b> with Bachelor of (Computer) Science.<br />With fundamental skills, I am
        <b>curious</b> and <b>passionate</b> in learning various skills and frameworks, to build dynamic and high
        performance websites and apps.</p>
    </div>
  </div>
  <div class="landing-Contact">
    <div id="flipping-text">
      <h1 id="flip1"></h1>
      <div id="flip2">
        <h2>Continue Learning and Developing</h2>
        <p><a href="mailto:alexshi416@gmail.com">Hire Me</a><br/>
        <a (click)="flipFace('1')">Leave Your Thoughts</a><br/>
        <a href="https://drive.google.com/file/d/1-7JbTwXE4zuuz00KCnKR6bgFRn1ZSEV6/view?usp=sharing">Download
            Resume</a></p>
      </div>
    </div>
    <span>Handcrafted by me @ 2021</span>
  </div>
</div>